doctype html
html
  head
    title express-monoicle
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    
    style.
      .container-fluid {
        margin-top: 25px;
      }

      .card {
        display: inline-block;
        width: 98%;
      }

      .tag {
        text-align: right;
      }

      #routes-container {
        box-shadow: 10px 10px 5px #f2f2f2;
      }

      #routes {
        margin: 10px;
      }

      .pill-ctx {
        margin: 0;
        padding: 0;
      }

      #middlewares, #middlewares-header {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
      }

      #middlewares li, #middlewares-header li {
        text-align: center;
        width: 50%;
      }

      #middlewares-header li {
        font-size: 2em;
        font-weight: bolder;
      }
  body
    .container-fluid
      .col-xs-3
        img.img-fluid(src="http://res.cloudinary.com/lc8bqflyz/image/upload/v1478126894/Screen_Shot_2016-11-02_at_2.43.29_PM_nmvgoc.png")
        #routes-container
          ul#routes.list-group
      .col-xs-9
        ul#middlewares-header
          li request
          li response
        ul#middlewares

  script.
    // Set up references to DOM nodes
    const routesContainerEl = document.getElementById('routes-container')
    const routesListEl = document.getElementById('routes')
    const middlewaresHeaderEl = document.getElementById('middlewares-header')
    const middlewaresListEl = document.getElementById('middlewares')

    const init = () => {
      //- Dynamically sets the positioning of our elements
      routesContainerEl.style.height = `${window.innerHeight - 200}px`
      middlewaresHeaderEl.style['margin-top'] = `${routesContainerEl.offsetTop - 50}px`

      for (let i = data.length - 1; i >= 0; i--) {
        routesListEl.appendChild(createRouteEl(data[i], i))
      }
    }

    const data = !{JSON.stringify(globalMonoStore)}


    routesListEl.addEventListener('click', e => {
      if (e.target.localName === 'li') {
        const idx = e.target.id.replace(/.+-/, '')
        const { changes, path } = data[idx]
        
        let position = 0

        resetMiddlewares()

        for (const middleware in changes.req) {
          if (middleware == 0) continue
          const fnName = changes.req[0].route.stack[position++].name
          middlewaresListEl.appendChild(createMiddlewareEl(changes.req[middleware], fnName, position))
          middlewaresListEl.appendChild(createMiddlewareEl(changes.res[middleware], fnName, position))
        }
      } 
    })

    // DOM Helpers
    const resetMiddlewares = () => middlewaresListEl.innerHTML = ''

    // DOM Creators
    const createRouteEl = ({ changes, path }, idx) => {
      const routeEl = document.createElement('li')
      const routeContent = document.createTextNode(path)
      routeEl.id = `route-${idx}`
      routeEl.className = 'list-group-item'

      const counterEl = document.createElement('span')

      const counterReqEl = document.createElement('p')
      const counterReqContent = document.createTextNode(`req: ${Object.keys(changes.req).length - 1}`)
      counterReqEl.className = 'pill-ctx'
      counterReqEl.appendChild(counterReqContent)

      const counterResEl = document.createElement('p')
      const counterResContent = document.createTextNode(`res: ${Object.keys(changes.res).length - 1}`)
      counterResEl.className = 'pill-ctx'
      counterResEl.appendChild(counterResContent)

      counterEl.className = 'tag bg-primary label-pill float-xs-right'
      counterEl.appendChild(counterReqEl)
      counterEl.appendChild(counterResEl)

      routeEl.appendChild(counterEl)
      routeEl.appendChild(routeContent)

      return routeEl
    }

    const createMiddlewareEl = (changes, path, position) => {
      const middlewareEl = document.createElement('li')

      const card = document.createElement('div')
      card.className = 'card'

      const cardBlock = document.createElement('div')
      cardBlock.className = 'card-block'

      //- Create req objects
      const middlewareNameEl = document.createElement('h4')
      const middlewareNameContent = document.createTextNode(`${path} [${position}]`)
      middlewareNameEl.className = 'card-title'
      middlewareNameEl.appendChild(middlewareNameContent)
      cardBlock.appendChild(middlewareNameEl)

      for (const prop in changes) {
        //- Shows objects
        let value = changes[prop]
        if (typeof value === 'object') value = JSON.stringify(value)

        const changedItemEl = document.createElement('p')
        const changedItemContent = document.createTextNode(`${prop}: ${value}`)
        changedItemEl.className = 'card-text'
        changedItemEl.appendChild(changedItemContent)
        cardBlock.appendChild(changedItemEl)
      }

      card.appendChild(cardBlock)
      middlewareEl.appendChild(card)

      return middlewareEl
    }

    init()
